[submodule "apifast"]
	path = apifast
	url = https://github.com/aypetrunin/apifast.git
[submodule "langgraph"]
	path = langgraph
	url = https://github.com/aypetrunin/langgraph.git
[submodule "mcpserver"]
	path = mcpserver
	url = https://github.com/aypetrunin/mcpserver.git
[submodule "worker_loop"]
	path = worker_loop
	url = https://github.com/aypetrunin/worker_loop.git
