# =========================
# GLOBAL / RUNTIME
# =========================
ENV=prod

# =========================
# ROOT PORTS (zena)
# =========================
APIFAST_PORT=3024
LANGGRAPH_API_PORT=8123

MCPSRV_PORT_5001=5001
MCPSRV_PORT_5002=5002
MCPSRV_PORT_5005=5005
MCPSRV_PORT_5006=5006
MCPSRV_PORT_5007=5007
MCPSRV_PORT_5017=5017
MCPSRV_PORT_5018=5018
MCPSRV_PORT_5020=5020

# =========================
# IMAGES (GHCR)
# =========================
APIFAST_IMAGE=ghcr.io/aypetrunin/apifast:1.0.0
LANGGRAPH_IMAGE=ghcr.io/aypetrunin/langgraph:1.0.0
MCPSERVER_IMAGE=ghcr.io/aypetrunin/mcpserver:1.0.0


# =========================
# POSTGRES (shared)
# =========================
POSTGRES_USER=admin
POSTGRES_PASSWORD=jVMwiesmUopXjE
POSTGRES_DB=postgres
POSTGRES_HOST=172.17.0.1
POSTGRES_PORT=5432
POSTGRES_TIMEOUT=10


# =========================
# QDRANT (shared)
# =========================
QDRANT_URL=http://172.17.0.1:6333
QDRANT_TIMEOUT=120
QDRANT_COLLECTION_FAQ=zena2_faq_2
QDRANT_COLLECTION_SERVICES=zena2_services_2
QDRANT_COLLECTION_PRODUCTS=zena2_products_services_view
QDRANT_COLLECTION_TEMP=zena2_services_key

# =========================
# OPENAI (shared)
# =========================
OPENAI_API_KEY_RESERV=
OPENAI_API_KEY=
OPENAI_PROXY_URL=http://UPtDXE:DcHTNj@45.93.71.111:8000
OPENAI_TIMEOUT=60

OPENAI_MODEL_4O_MINI=openai:gpt-4o-mini
OPENAI_MODEL_4O=openai:gpt-4o


# =========================
# LANGGRAPH
# =========================
LANGGRAPH_URL_NO_DOCKER=http://localhost:2024
LANGGRAPH_URL_DOCKER=http://langgraph-api:8000

LANGSMITH_PROJECT=agent-zena
LANGSMITH_API_KEY=

# =========================
# MCPSERVER
# =========================
MCP_PORT_ALISA=5001
MCP_PORT_SOFIA=5002
MCP_PORT_ANISA=5005
MCP_PORT_ANNITTA=5006
MCP_PORT_ANASTASIA=5007
MCP_PORT_ALENA=5020

CHANNEL_ID_SOFIA=1
CHANNEL_ID_ALISA=2
CHANNEL_ID_ANISA=5
CHANNEL_ID_ANNITTA=6
CHANNEL_ID_ANASTASIA=7
CHANNEL_ID_ALENA=20

# =========================
# OPTIONAL
# =========================
MEM0AI=m0-NiBKrRhMIZCP0s5TEfxBzI1XNCZe28KbLv6U5njK
